body {
    font-family: "Righteous";
    background-image: url('./img/bkg2.jpg');
}

h1, h2, p{
  color: white;
}
section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.game--restart {
  background-color: orange;
  font-family: "Righteous";
  color: white;
  padding: 10px;
}

.cell {
    color: orange;
    background-color: white;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px green;
    border: 1px solid green;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
